<form class="space-y-6 font-geist mt-10">

  <!-- Password -->
  <div>
    <label class="block text-base font-medium text-gray-800 mb-2">
      New Password
    </label>

    <div class="relative">
      <input type="password" placeholder="********"
        class="w-full border border-gray-200 px-4 py-3 pr-10 focus:outline-none focus:border-blue-600 placeholder:text-gray-400" />

      <span class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer">
        <i-lucide name="eye-off" [size]="18" class="text-gray-300"></i-lucide>
      </span>
    </div>
  </div>

  <!-- Confirm Password -->
  <div>
    <label class="block text-base font-medium text-gray-800 mb-2">
      Confirm New Password
    </label>

    <div class="relative">
      <input type="password" placeholder="********"
        class="w-full border border-gray-200 px-4 py-3 pr-10 focus:outline-none focus:border-blue-600 placeholder:text-gray-400" />

      <span class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer">
        <i-lucide name="eye-off" [size]="18" class="text-gray-300"></i-lucide>
      </span>
    </div>
  </div>


  <!-- Button -->
  <app-auth-button>Reset Password</app-auth-button>

</form>
