<form
  [formGroup]="form"
  class="space-y-6 font-geist mt-10"
  (ngSubmit)="onSubmit()"
>

  <!-- Password -->
  <app-auth-input
    label="New Password"
    [required]="true"
    [type]="showPassword ? 'text' : 'password'"
    placeholder="********"
    [control]="controls['password']"
    [errorMap]="{
      required: 'Password is required',
      minlength: 'Password must be at least 8 characters',
      uppercase: 'Must include uppercase letter',
      number: 'Must include number',
      specialChar: 'Must include special character'
    }"
    [rightIcon]="true"
    (rightIconClick)="togglePassword()"
  >
    <i-lucide
      rightIcon
      [name]="showPassword ? 'eye-off' : 'eye'"
      [size]="18"
    ></i-lucide>
  </app-auth-input>

  <!-- Confirm Password -->
  <app-auth-input
    label="Confirm Password"
    [required]="true"
    [type]="showConfirmPassword ? 'text' : 'password'"
    placeholder="********"
    [control]="controls['confirmPassword']"
    [errorMap]="{
      required: 'Confirm password is required',
      passwordMismatch: 'Passwords do not match'
    }"
    [rightIcon]="true"
    (rightIconClick)="toggleConfirmPassword()"
  >
    <i-lucide
      rightIcon
      [name]="showConfirmPassword ? 'eye-off' : 'eye'"
      [size]="18"
    ></i-lucide>
  </app-auth-input>


  <!-- general error -->
  @if (errorMessage) {
    <div class="p-3 bg-red-50 border border-red-200 text-red-800 text-sm rounded-md">
      {{ errorMessage }}
    </div>
  }

  <!-- button -->
  <app-auth-button type="submit">
    Reset Password
  </app-auth-button>

</form>