<div class="w-full h-full px-8 lg:px-16 flex flex-col justify-center items-center">

  <div class="flex items-start gap-5">
      <div class="p-1.5 flex items-center justify-center self-start">
        <i-lucide [img]="FolderCode" [size]="40" [strokeWidth]="1.5" class="text-blue-600"></i-lucide>
      </div>
      <h3 class="font-geist text-xl font-semibold text-blue-600 mb-2.5">Exam App</h3>
  </div>


  <h1 class="font-inter text-2xl lg:text-3xl font-bold mb-10 max-w-lg">
    Empower your learning journey with our smart exam platform.
  </h1>

  <div class="w-full space-y-6 text-sm text-gray-700 max-w-lg">

    <div class="flex items-start gap-5">
      <div class="p-4 w-9 h-9 flex items-center justify-center border-2 border-solid border-blue-600 self-start">
        <i-lucide [img]="Brain" [size]="24" [strokeWidth]="1.5" class="text-blue-600"></i-lucide>
      </div>

      <div>
        <h3 class="font-geist text-xl font-semibold text-blue-600 mb-2.5">Tailored Diplomas</h3>
        <p class="font-geist text-base max-w-sm text-gray-700">Choose from specialized tracks like Frontend, Backend,
          and Mobile Development.</p>
      </div>
    </div>

    <div class=" flex items-start gap-5">
      <div class="p-4 w-9 h-9 flex items-center justify-center border-2 border-solid border-blue-600 self-start">
        <i-lucide [img]="BookOpenCheck" [size]="24" [strokeWidth]="1.5" class="text-blue-600"></i-lucide>
      </div>

      <div>
        <h3 class="font-geist text-xl font-semibold text-blue-600 mb-2.5">Focused Exams</h3>
        <p class="font-geist text-base max-w-sm text-gray-700">Access topic-specific tests including HTML, CSS,
          JavaScript, and more.</p>
      </div>
    </div>

    <div class="flex items-start gap-5">
      <div class="p-4 w-9 h-9 flex items-center justify-center border-2 border-solid border-blue-600 self-start">
        <i-lucide [img]="RectangleEllipsis" [size]="24" [strokeWidth]="1.5" class="text-blue-600"></i-lucide>
      </div>

      <div>
        <h3 class="font-geist text-xl font-semibold text-blue-600 mb-2.5">Smart Multi-Step Forms</h3>
        <p class="font-geist text-base max-w-sm text-gray-700">Choose from specialized tracks like Frontend, Backend,
          and Mobile Development.</p>
      </div>
    </div>

  </div>
</div>
