<div class="w-full h-full px-8 lg:px-16 flex flex-col justify-center">
  <div class="mx-auto max-w-lg">
    <div class="mb-30">
      <app-brand></app-brand>
    </div>

    <h1 class="font-inter text-2xl lg:text-3xl font-bold mb-15">
      Empower your learning journey with our smart exam platform.
    </h1>

    <div class="space-y-6">
      @for (feature of features; track feature.title) {
      <div class="flex items-start gap-5">
        <div class="w-9 h-9 flex items-center justify-center border-2 border-blue-600">
          <i-lucide [name]="feature.icon" [size]="24" [strokeWidth]="1.5" class="text-blue-600"></i-lucide>
        </div>

        <div>
          <h3 class="font-geist text-xl font-semibold text-blue-600 mb-2.5">
            {{ feature.title }}
          </h3>
          <p class="font-geist text-base max-w-sm text-gray-700">{{ feature.text }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
