<form [formGroup]="form" class="space-y-6 font-geist mt-10" (ngSubmit)="onSubmit()">

  <!-- Email -->
  <app-auth-input
    label="Email"
    type="email"
    placeholder="user@example.com"
    [control]="emailControl"
    [errorMap]="{
      required: 'Email is required',
      email: 'Please enter a valid email address'
    }">
  </app-auth-input>

  <app-auth-error [message]="errorMessage"></app-auth-error>

  <!-- Button -->
  <app-auth-button type="submit" [hasIcon]="true" [loading]="isSubmitting">
    Next
  </app-auth-button>

</form>