<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6 font-geist mt-10">

  <!-- Username -->
  <app-auth-input
    label="Username"
    placeholder="user123"
    [control]="controls['username']"
    [errorMap]="{ required: 'Username is required' }">
  </app-auth-input>

  <!-- Password -->
  <div>
    <app-auth-input
      label="Password"
      [type]="showPassword ? 'text' : 'password'"
      placeholder="********" 
      [control]="controls['password']"
      [rightIcon]="true"
      [errorMap]="{ required: 'Password is required' }"
      (rightIconClick)="togglePassword()"
    >
      <i-lucide rightIcon [name]="showPassword ? 'eye-off' : 'eye'" [size]="18"></i-lucide>
    </app-auth-input>

    <div class="text-right mt-2">
      <a class="text-sm font-medium text-blue-600 hover:underline cursor-pointer" routerLink="/auth/forgot-password">
        Forgot your password?
      </a>
    </div>
  </div>

  <app-auth-error [message]="loginError"></app-auth-error>


  <!-- Button -->
  <app-auth-button type="submit" [loading]="isSubmitting">
    Login
  </app-auth-button>

</form>