<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6 font-geist mt-10">

  <!-- Password -->
  <div>
    <label class="block text-base font-medium text-gray-800 mb-2">
      Password<span class="text-red-600 ml-0.5">*</span>
    </label>

    <div class="relative">
      <input #passwordInput [type]="showPassword ? 'text' : 'password'" placeholder="********"
        formControlName="password" [class]="getInputClasses(controls['password'])" />

      <span class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 cursor-pointer" (click)="togglePassword()">
        <i-lucide [name]="showPassword ? 'eye-off' : 'eye'" [size]="18"></i-lucide>
      </span>
    </div>

    <div class="h-5 mt-1">
      @if (passwordErrorMessage) {
      <p class="text-red-600 text-sm">
        {{ passwordErrorMessage }}
      </p>
      }
    </div>
  </div>

  <!-- Confirm Password -->
  <div>
    <label class="block text-base font-medium text-gray-800 mb-2">
      Confirm Password<span class="text-red-600 ml-0.5">*</span>
    </label>

    <div class="relative">
      <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="********" formControlName="confirmPassword"
        [class]="getInputClasses(
          controls['confirmPassword'],
          registerForm.hasError('passwordMismatch') && controls['confirmPassword'].touched)" />

      <span class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 cursor-pointer"
        (click)="toggleConfirmPassword()">
        <i-lucide [name]="showConfirmPassword ? 'eye-off' : 'eye'" [size]="18"></i-lucide>
      </span>
    </div>

    <div class="h-5 mt-1">
      @if (confirmPasswordErrorMessage) {
      <p class="text-red-600 text-sm">
        {{ confirmPasswordErrorMessage }}
      </p>
      }
    </div>
  </div>

  <app-auth-error [message]="errorMessage"></app-auth-error>

  <!-- Button -->
  <app-auth-button variant="primary" type="submit" [loading]="isSubmitting()">
    Continue
  </app-auth-button>

</form>